#something {
    color: rgb(69, 34, 223);
}

#something2 {
    color: rgb(223, 135, 34);
}

#something3 {
    color: rgb(34, 176, 223);
}

#something4 {
    color: rgb(223, 34, 34);
}

#well {
    color: deeppink;
}